PORT=8080

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="mydb"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

JWT_SECRET=MyJwtSecret
JWT_EXPIRES=1h

COOKIE_SECURE=false

ENABLE_CORS=true

AWS_ACCESS_KEY_ID=SECRETKEY
AWS_SECRET_ACCESS_KEY=SECRETKEY
AWS_REGION=us-west-2
AWS_BUCKET=fridge-agile
AWS_ROOT_PATH=local
AWS_URL=https://<BUCKET_NAME>.s3.<REGION>.amazonaws.com